@import "@ui/variables.module.scss";

.workspace {
  width: 100vw;
  height: 100vh;
}

.button {
  height: 24px;
  width: 24px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.ColorWhite {
  background: $white_background_color;
}

.ColorLightPink {
  background: $light_pink_background_color;
}

.ColorPink {
  background: $pink_background_color;
}

// linear-gradient(
//     108.73deg,
//     #e6e6e6 11.8%,
//     #dedeff 55.32%,
//     #e3e3eb 96.06%
//   )
