$white_background_color: #EBF0FF;
$light_pink_background_color: linear-gradient(107.84deg, #E1E1EA 13.77%, #D9D9FF 105.8%, #D9D9FF 105.8%);
$pink_background_color: linear-gradient(107.84deg, #D4D4DD 13.77%, #C2C2F3 105.8%), #D9D9D9;